.idea
all_poems.md
summary.md
list.md
_site
Gemfile.lock
node_modules
package-lock.json
.astro
dist
pnpm-lock.yaml
entities_frequency.html

# temp - ignore public
public
# temp - ignore fl
fl
content/media
/content/0509_test_apteka.md
/content/0509_test_apteka__short.md
*.rpp*
im
*.xml